<body>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../../assets/logo3.png" alt="Satabdi Logo">
                <div>
                    <h2>Turn Ideas Into Reality</h2>
                    <p>Create, Innovate, Inspire</p>
                </div>
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <div class="footer-contact-item">
                    <img src="../../assets/SocialMedia/email1.png" alt="Email" class="contact-icon" />
                    swainsatabdi20&#64;gmail.com
                </div>
                <div class="footer-contact-item">
                    <img src="../../assets/SocialMedia/location1.png" alt="Location" class="contact-icon" />
                    Bhubaneswar, Odisha
                </div>
                <div class="footer-contact-item">
                    <img src="../../assets/SocialMedia/call1.png" alt="Call" class="contact-icon" />
                    9348136969
                </div>

                <div class="footer-social">
                    <a href="https://email.com" class="social-icon">
                        <img src="../../assets/SocialMedia/email.png" alt="Email" />
                    </a>
                    <a href="https://linkedin.com" class="social-icon">
                        <img src="../../assets/SocialMedia/linkedin.png" alt="LinkedIn" />
                    </a>
                    <a href="https://facebook.com" class="social-icon">
                        <img src="../../assets/SocialMedia/facebook.png" alt="Facebook" />
                    </a>
                    <a href="https://whatsapp.com" class="social-icon">
                        <img src="../../assets/SocialMedia/whatsapp.png" alt="WhatsApp" />
                    </a>
                    <a href="https://instagram.com" class="social-icon">
                        <img src="../../assets/SocialMedia/instagram.png" alt="Instagram" />
                    </a>
                    <a href="https://github.com" class="social-icon">
                        <img src="../../assets/SocialMedia/github.png" alt="Github" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy;Satabdi Satyapragnya Swain <span>2025</span> | All Rights Reserved
        </div>
    </footer>
</body>