<div class="container-fluid  projectDetails" #projectDetails>
    <div class="container">
        <h1>My Projects</h1>
        <div class="projects">
            <div class="project">
                <img src="../../assets/WMS.png" alt="Project 1">
                <div class="project-info">
                    <h3>Warehouse Management System</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS2.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS3.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS4.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS5.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS6.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS7.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS8.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>

        </div>
    </div>
</div>