<div class="container-fluid  projectDetails" #projectDetails>
    <div class="container">
        <h2 class="highlighted-title">Highlighted Projects</h2>
        <div class="projects">
            <div class="project">
                <img src="assets/projects/WMS.png" alt="Project 1">
                <div class="project-info">
                    <h3>Warehouse Management</h3>
                    <h3>System</h3>
                </div>
            </div>
            <div class="project">
                <img src="assets/projects/LTS.png" alt="Project 2">
                <div class="project-info">
                    <h3>Ladle Tracking</h3>
                    <h3>System</h3>
                </div>
            </div>
            <div class="project">
                <img src="assets/projects/SMTS.png" alt="Project 2">
                <div class="project-info">
                    <h3>Smart Material</h3>
                    <h3>Tracking System</h3>
                </div>
            </div>
            <div class="project">
                <img src="assets/projects/Atten.png" alt="Project 2">
                <div class="project-info">
                    <h3>Attendease</h3>
                </div>
            </div>
            <!-- <div class="project">
                <img src="../../assets/WMS5.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS6.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS7.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div>
            <div class="project">
                <img src="../../assets/WMS8.png" alt="Project 2">
                <div class="project-info">
                    <span>March 2024</span>
                    <h3>Project Name</h3>
                </div>
            </div> -->

        </div>
    </div>
</div>