<div class="container-fluid mySkills" #mySkills>
    <div class="container">
        <h2 class="skill-title">My Skills</h2>
        <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/html.png" alt="HTML" />
                    <p>HTML</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/css-3.png" alt="CSS" />
                    <p>CSS</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/js.png" alt="CSS" />
                    <p>JavaScript</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/typescript.png" alt="CSS" />
                    <p>TypeScript</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/angular.jpeg" alt="CSS" />
                    <p>Angular</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/bootstrap-logo.png" alt="CSS" />
                    <p>Bootstrap</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/ReactJs.png" alt="CSS" />
                    <p>React JS</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/CoreUI.png" alt="CSS" />
                    <p>Core UI</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/CSharp.png" alt="CSS" />
                    <p>C#</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/WebApi.jpeg" alt="CSS" />
                    <p>Web API</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/NetCore.png" alt="CSS" />
                    <p>.Net Core</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/json-file.png" alt="CSS" />
                    <p>Json</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/Postman.png" alt="CSS" />
                    <p>Postman</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/httpie.png" alt="CSS" />
                    <p>Httpie</p>
                </div>
            </div><div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/MQTTM.png" alt="CSS" />
                    <p>MQTT</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/MQTTP.jpeg" alt="CSS" />
                    <p>MQTTX</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/SQL.png" alt="CSS" />
                    <p>SSMS</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/GitHub.png" alt="CSS" />
                    <p>GIT</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/Java.jpg" alt="CSS" />
                    <p>JAVA</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/python.jpeg" alt="CSS" />
                    <p>PYTHON</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/Skills/rfid.png" alt="CSS" />
                    <p>RFID</p>
                </div>
            </div>
        </div>
    </div>
</div>