<div class="container-fluid mySkills" #mySkills>
    <div class="container">
        <h2 class="skill-title">My Skills</h2>
        <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/html.png" alt="HTML" />
                    <p>HTML</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/css-3.png" alt="CSS" />
                    <p>CSS</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/js.png" alt="JavaScript" />
                    <p>JavaScript</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/typescript.png" alt="TypeScript" />
                    <p>TypeScript</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/angular.png" alt="Angular" />
                    <p>Angular</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/bootstrap-logo.png" alt="Bootstrap" />
                    <p>Bootstrap</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/ReactJs.png" alt="React JS" />
                    <p>React JS</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/CoreUI.png" alt="Core UI" />
                    <p>Core UI</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/CSharp.png" alt="C#" />
                    <p>C#</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/WebApi.png" alt="Web API" />
                    <p>Web API</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/DotNetCore.png" alt=".Nat Core" />
                    <p>.Net Core</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/json-file.png" alt="Json" />
                    <p>Json</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/Postman.png" alt="Postman" />
                    <p>Postman</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/httpie.png" alt="Httpie" />
                    <p>Httpie</p>
                </div>
            </div><div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/MQTTM.png" alt="MQTT" />
                    <p>MQTT</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/MQTTP.png" alt="MQTTX" />
                    <p>MQTTX</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/SQL.png" alt="SSMS" />
                    <p>SSMS</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="../../assets/SocialMedia/github.png" alt="GIT" />
                    <p>Github</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/Java.png" alt="JAVA" />
                    <p>Java</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/python.png" alt="PYTHON" />
                    <p>Python</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/rfid.png" alt="RFID" />
                    <p>RFID</p>
                </div>
            </div>
        </div>
    </div>
</div>